

.encabezado-tabla {
    background: #003966 !important; 
    color: #fff !important;
  }
  
.columna-nombre-tabla {
    background-color: #9CACBA !important;
  }

  .celdas-restantes-tabla {
    background-color: #D5D7E5 !important;
  }

  .table {
  font-family: 'Lato Light', "LatoWeb", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-collapse: collapse;
  font-weight: 300;
  font-size: 22px;
}

.action-subcell {
  text-align: center;
  width: 50%;
  vertical-align: middle;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-item {
  flex: 1; 
  text-align: center;
}

.action-divider {
  border-right: 1px solid #dee2e6;
  height: 100%;
}
