.button-icon {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #507E9D;
  color: black;
  border: 2px solid #507E9D;
}

.modal-header-custom {
  background-color: #9CACBA;
  color: black;
}

.modal-footer-custom {
  background-color: #9CACBA;
}

.modal {
  font-family: 'Lato Light', "LatoWeb", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.header-name {
  font-weight: bold;
  font-size: 26px;
}


.modal-button {
  color: black;
  font-size: 18px;
}

.btn-cancel {
  background-color: gray;
  border: 2px solid gray;
}

.btn-save {
  background-color: #507E9D;
  border: 2px solid #507E9D;
}

.modal-wider {
  max-width: none;
  width: 800px !important;
  margin: 0 auto;
}

.data-container {
  display: flex;
  align-items: center;
}

.modal-body-custom-description {
  background-color: #D5D7E5;
  color: black;
  font-size: 26px;
  display: flex;
  align-items: flex-start; 
  overflow-y: auto;
}

.modal-body-custom {
  background-color: #D5D7E5;
  color: black;
  font-size: 30px;
  height: 150px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow-y: auto;
}

.modal-body-custom-general {
  background-color: #D5D7E5;
  color: black;
  font-size: 18px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow-y: auto;
}

.black-square {
  width: 200px;
  height: 200px;
  background-color: black;
  margin-left: 20px; 
}

.text-container {
  flex: 1; 
}

.data-item {
  margin-left: 28px;
  margin-bottom: 30px;
}

.data-item p {
  text-align: center; 
}

.scrollable-text {
  max-height: 100px;
  overflow-y: auto;
  white-space: pre-wrap;
}

.custom-input {
  font-size: 26px; 
}

.modal-wider-maintenance {
  max-width: none;
  width: 700px !important;
  margin: 0 auto;
}

.modal-body-custom-maintenance {
  background-color: #D5D7E5;
  color: black;
  font-size: 30px;
  height: 440px;
  display: flex; 
  overflow-y: auto;
}

.custom-input2 {
  width: 260px; 
  text-align: center; 
}

.iconCalender {
  margin-right: 10px;
}  


.modal-text {
  margin: 10px;
  text-align: center;
}