.boton-modal-avance {
    margin-bottom: 40px;
    margin-top: 20px;
    height: 53px;
    float: right;
    background-color: #507E9D;
    border: 2px solid #507E9D;
    color: white;
    cursor: pointer;
}