.tabla-avances th {
    background-color: #507E9D !important;
    color: black !important;
    font-family: 'Lato Light', "LatoWeb", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.tabla-avances td {
    font-family: 'Lato Light', "LatoWeb", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.tabla-avances {
    margin-left: 15%;
    margin-right: 15%;
}

/* Cuidado: Se aplica a todos los td*/
td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    /* Opcional: Establece un ancho máximo para la celda */
}