.hora-reserva-container {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.horas-semana {
  display: flex;
  align-items: center;
}

.horas-dia {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60px;
}

.hora-dia {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.horas-disponibles {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.dia-hora {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.horas-column{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.horas-column-agendadas{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-left:23px;
}

.hora-agendada {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hora-agendada span {
  font-size: 18px;
}

.hora-agendada button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hora-agendada button:hover {
  background-color: #bd2130;
}

.hora-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hora-item span {
  font-size: 18px;
}

.hora-disponible {
  background-color: #003966; /* Color para horas disponibles */
  color: #fff;
  border: none;
}

.hora-disponible:disabled {
  background-color: #D5D7E5; /* Color para horas no disponibles */
  cursor: not-allowed;
  border: none;
}

.hora-disponible:not(:disabled):hover {
  background-color: #D5D7E5; /* Color para horas disponibles al pasar el ratón */
  color: #000;
  border: none;
}

.no-disponible {
  background-color: #D5D7E5; /* Color para horas no disponibles */
  cursor: not-allowed;
  border: none;
}

.no-disponible:hover {
  background-color: #D5D7E5; /* Color para horas no disponibles al pasar el ratón */
  border: none;
}