.hora-reserva-container {
  flex-direction: row;
  margin: 30px;
}

.horas-semana {
  display: flex;
  align-items: center;
}

.horas-column{
  max-width: 75em;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.horas-column-agendadas{
  max-width: 75em;
  display: flex;
  flex-direction: column;
  margin-left:30px;
}

.hora-agendada {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hora-agendada span {
  font-size: 18px;
}

.hora-agendada button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hora-agendada button:hover {
  background-color: #bd2130;
}

.hora-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hora-item span {
  font-size: 18px;
  padding:8px;
  margin-right: 15px;
}

.hora-disponible {
  background-color: #003966;
  color: #fff;
  border: none;
}

.hora-disponible:disabled {
  background-color: #D5D7E5;
  cursor: not-allowed;
  border: none;
}

.hora-disponible:not(:disabled):hover {
  background-color: #D5D7E5;
  color: #000;
  border: none;
}

.no-disponible {
  background-color: #D5D7E5; 
  cursor: not-allowed;
  border: none;
}

.no-disponible:hover {
  background-color: #D5D7E5; 
  border: none;
}