* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background: #003966; 
    color: #fff;
    font-family: 'Lato Light', "LatoWeb", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 130px; 
    position: fixed; 
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}


.link {
    display: flex;
    flex-direction: column; 
    color: white;
    padding: 10px ; 
    gap: 5px; 
    transition: all 0.5s;
    margin-bottom: 8px;
}

.link, .link_text {
    text-decoration: none !important; 
}


.icon, .link_text {
    font-size: 16px !important;
    text-align: center; 
}

.link:hover {
    background: #D5D7E5;
    color: #000;
    transition: all 0.5s;
}


.active {
    background: #D5D7E5;
    color: #000;
}


div.container {
    padding: 0 0px; 
}

.top_section img {
    max-width: 100%;
    max-height: 100%;
    transform: scale(0.8);
   
}

.icon svg {
    width: 32px; 
    height: 32px; 
}